/*****************
* Body/background 
******************/
body 	{
		background-color:#505050;
		}

/******
* Text
*******/

h1 		{
		color:#ffffff;
		}

h2.smallHeader	{
				font-size:1.3em; 
				font-family:Comic Sans MS, Cursive, sans-serif; 
				text-align:center;
				}

p.informative{
		font-size:0.7em;
		}

/******
* Divs
*******/

#logo	{
		width:100%;
		min-height:50px;
		padding:2px 2px 2px 10px;
		background-color:#a0a0a0;
		border-radius:5px;
		}

#outerWrapper	{
				margin:10 auto;
				width:595px;
				height:400px;
				}

#wrapper{
	min-height:350px;
	padding-left:14px;
	padding-top:14px;
	background-color:rgba(255,255,255,0.9);
	width:300px;
	border-radius:0px;
	/*
	box-shadow:0px 0px 10px #202020;
	*/
	}



#links {
	padding:25px 25px 25px 33px;
	}

#links a 	{
	padding:5px 5px 1px 5px;
	box-shadow:2px 2px 5px #000000;
	text-shadow:1px 0px 5px #505050;
	color:#e0e0e0;
	border:0px solid #707070;
	font-weight:;
	font-size:0.9em;
	font-family:Comic Sans MS, Cursive, sans-serif;
	text-decoration:none;
	background-color:#808080;
	min-height:30px;
	text-align:center;
	width:200px;
	display:box;
	border-radius:6px;
	float:left;
	margin:5 auto;
	margin-left:10px;
	}

#links a:hover {
				background-color:#c0c0c0;
				color:#505050;
				text-shadow:1px 1px 1px #e0e0e0;
				}


/*****
*Form
******/

form	{
		border:0;
		margin-top:0;
		padding:0;
		}

.searchForm{
			width:250px;
			padding:14px;
			}

#search	{
		clear:;
		background-color:rgba(255,255,255,0.9);
		float:right;
		margin-top:;
		position:;
		}




#search input	{
				width:170px;
				}

#search button	{
				width:90px;
				height:33px;
				background:#606060;
				color:#ffffff;
				border-radius:7px;
				}

#addMember button 	{
					width:90px;
					height:33px;
					background:#606060;
					color:#ffffff;
					border-radius:7px;
					}

