<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "stuff.css" %}">
</head>

<h1> Add Person! </h1>

{% if name %}{{ name }} saved!<br>{% endif %}

{% if removed %}{{ removed }} was deleted<br>{% endif %}

{% if info %}{{ info }}<br>{% endif %}

{% if fail %}<strong>{{ fail }}</strong><br>{% endif %}
<p>
<form action="/person/add" method="post">
    {% csrf_token %}

    <label for="name">Name</label>
    <input type="text" name="name" id="name" /></br>

    <label for="email">Email</label>
    <input type="text" name="email" id="email" /></br>

    <input type="radio" name="life" value="single" checked />Single semester</br>
    <input type="radio" name="life" value="life" />Lifetime membership</br>

    <input type="submit" value="Save"/>
</form>

<p>
<a href="/person/list">List all people</a><br>
<a href="/">Main menu</a>
