{% extends "sitebase.html" %}

{% block allactive %}class="active"{% endblock %} 

{% block title %}CYB - list all{% endblock %}

{% block maincontent %}
    <h1>All members</h1>
    <p> - since the dawn of time! (aka 2012 for this system..)</p>
{% endblock %}

{% block sub1 %}
    <h2>Normal members</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
    </table>
{% endblock %}

{% block sub3 %}
    <h2>Lifetime members</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
    </table>
{% endblock %}
