<h1>Edit person!</h1>

<form action="/person/edit" method="post">
    {% csrf_token %}
    <label for "name">Name</label>
    <input type="text" value="{{ person.name }}" name="new_name" id="name" /></br>
    
    <label for "email">Email</label>
    <input type="text" value="{{ person.email }}" name="new_email" id="email" /></br>

    {% if membership == "life" %}
    <input type="radio" name="life" value="single" />Single semester</br>
    <input type="radio" name="life" value="life" checked />Lifetime membership</br>

    {% else %}
    <input type="radio" name="life" value="single" checked />Single semester</br>
    <input type="radio" name="life" value="life" />Lifetime membership</br>

    {% endif %}

    <input type="hidden" name="name" value="{{ person.name }}" />
    <input type="hidden" name="email" value="{{ person.email }}" />
    <input type="hidden" name="save" />

    <input type="submit" value="Save"/>
</form>
<form action="/person/delete" method="post">
    {% csrf_token %}
    <input type="hidden" name="person" value="{{ person }}">
    <input type="submit" value="Delete"/>
</form>
<form action="/person/add" method="post">
    {% csrf_token %}
    <input type="hidden" name="info" value="{{ name }} was not edited!">
    <input type="submit" value="Cancel"/>
</form>
<a href="/person/list">List people</a>
