
<style>

body {
	background-color:#303030;
	}

h1 {
	color:#ffffff;
	}

#wrapper{
	margin:0 auto;
	background-color:rgba(255,255,255,0.3);
	width:250px;
	min-height:600px;
	border-radius:5px;
	}

#links {
	padding:25px 25px 25px 25px;
	margin:0 auto;
	}

#links a 	{
	color:#202020;
	font-weight:bold;
	font-size:15px;
	font-family:verdana, sans-serif;
	text-decoration:none;
	background-color:#d0d0d0;
	min-height:30px;
	text-align:center;
	width:200px;
	display:box;
	border:0px solid #000000;
	border-radius:5px;
	float:left;
	margin-top:5px;
	}

#links a:hover {
				background-color:#e0e0e0;
				}

</style>
<body>
<h1>Cybernetisk Selskab</h1>

<div id="wrapper">

	<div id="links">
		<a href="/person/add">Add new member</a>
		<a href="/person/search">Search</a>
		<a href="/person/list">List all valid members</a><br>
		<a href="/person/listnolife">List all valid members (without lifetime members)</a><br>
		<a href="/person/listall">List all members since dawn of time</a><br>
		<a href="/person/listlifetime">List only lifetime members</a><br>
	</div>

</div>
</body>
