

<meta>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "stuff.css" %}">
</meta>

<body>

<div id="logo">
	<h1>Cybernetisk Selskab</h1>
</div>

<div id="outerWrapper">

<div id="search" class="searchForm">

	<h2 class="smallHeader">Search</h2>

	<form id ="src" action="/person/search" method="post">
    	{% csrf_token %}
    	<p class="informative">
    	<label class="name"for="name">Name</label>
    	<input type="text" name="name" id="name" /><br>

    	<input type="radio" name="membership" value="all" checked id="current" />Current semester</input>
    	<br>
    	<input type="radio" name="membership" value="life" id="life" />Lifetime membership</p></input>
    	</p>

   	 	<button type="submit" value="Search">Search</button>
	</form>

</div>

<div id="wrapper">
	<h2 class="smallHeader">What to do?</h2>
	<div id="links">
		<a href="/person/add">Add new member</a>
		<a href="/person/list">List all valid members</a>
		<a href="/person/listall">List all members</a>
		<a href="/person/listlifetime">List only lifetime members</a>
		<a href="/person/listnolife">List all valid members <p class="informative">(without lifetime members)</p></a>
	</div>



</div>

</div>

</body>

