{% extends "sitebase.html" %}

{% block lifeactive %}class="active"{% endblock %} 

{% block title %}CYB - lifetime members{% endblock %}

{% block maincontent %}
    <h1>Lifetime memberships</h1>
    <p> - because CYB is just that awesome!</p>
{% endblock %}

{% block sub1 %}
    <table>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
    </table>
{% endblock %}

