{% extends "sitebase.html" %}

{% block {{type}}active %}class="active"{% endblock %} 

{% block title %}CYB - list members{% endblock %}

{% block maincontent %}
    <h1>{{head}}</h1>
    <p>{{caption}}</p>
{% endblock %}

{% block sub1 %}
    {% if results %}
        <h2>Peoples:</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Timestamp</td>
                    <td>Name</td>
                    <td>Email address</td>
                    <td>Edit</td>
                </tr>
            </thead>
            <tbody>
                {% for res in results %}
                    <tr>
                        <td>{{res.date_join}}</td>
                        <td>{{res.name}}</td>
                        <td>{{res.email}}</td>
                        <td>
                            <form class="form-inline" action="/view" method="post">
                                {% csrf_token %}
                                <input type="hidden" class="input" name="id" id="id" value={{res.id}}>
                                <button type="submit" class="btn-mini btn">edit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    {% endif %}
{% endblock %}

