{% extends "sitebase.html" %}

{% block searchactive %}class="active"{% endblock %} 

{% block title %}CYB - Search{% endblock %}

{% block maincontent %}
    <h1>Search</h1>
    <p> - hey.. every system has one!</p>
    <form class="form-inline" target="/search" method="post">
        {% csrf_token %}
        <div class="input-append">
            <input type="text" name="search" class="search">
            <button type="submit" name="valid" class="btn btn-primary">Search valid members » </button>
            <button type="submit" name="life" class="btn btn-warning">Search lifetime » </button>
            <button type="submit" name="all" class="btn btn-danger">Search all » </button>
        </div>
    </form>
{% endblock %}

{% block sub1 %}
    {% if results %}
        <h2>Search results:</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Timestamp</td>
                    <td>Name</td>
                    <td>Email address</td>
                    <td>Edit</td>
                </tr>
            </thead>
            <tbody>
                {% for res in results %}
                    <tr>
                        <td>{{res.date_join}}</td>
                        <td>{{res.name}}</td>
                        <td>{{res.email}}</td>
                        <td>
                            <form class="form-inline" action="/view" method="post">
                                {% csrf_token %}
                                <input type="hidden" class="input" name="id" id="id" value={{sub1.id}}>
                                <button type="submit" class="btn-mini btn">edit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    {% endif %}
{% endblock %}
