{% extends "sitebase.html" %}

{% block validactive %}class="active"{% endblock %} 

{% block title %}CYB - Valid members{% endblock %}

{% block maincontent %}
    <h1>All memberships for the current semester</h1>
    <p> - except for the lifers.. they get their own section!</p>
{% endblock %}

{% block sub1 %}
    <h2>Normal members</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Timestamp</td>
        </tr>
    </table>
{% endblock %}
