{% extends "sitebase.html" %}

{% block title %}CYB - edit{% endblock %}

{% block maincontent %}
    <h1>View, edit delete</h1>
    <p> - what? typing errors!? Noooooooeees!</p>
    <form action="/add" method="post">
        {% csrf_token %}
        <input type="text" class="input" name="name" id="name" value={{person.name}} placeholder="Full name">
        <input type="text" class="input" name="email" id="email" value={{person.email}} placeholder="Email address">
        <label class="checkbox">
            <input type="checkbox" id="lifetime" value="lifetime">Lifetime member?
        </label>
        <label class="checkbox">
            <input type="checkbox" id="delete" value="delete">Delete this member?
        </label>
        <input type="hidden" class="input" name="id" id="id" value={{person.id}}>
        
        <button type="submit" class="btn-primary btn">Save » </button>
    </form>
{% endblock %}

