{% extends "sitebase.html" %}

{% block title %}CYB - edit{% endblock %}

{% block maincontent %}
    <h1>View, edit delete</h1>
    <p> - what? typing errors!? Noooooooeees!</p>
    <form action="/view" method="post">
        {% csrf_token %}
        <input type="text" class="input" name="name" id="name" value="{{person.name}}" placeholder="Full name">
        <input type="text" class="input" name="email" id="email" value="{{person.email}}" placeholder="Email address">
        <label class="checkbox">
            <input type="checkbox" name="lifetime" id="lifetime" {% if person.lifetime %} checked {% endif %} >Lifetime member?
        </label>
        <input type="hidden" name="id" id="id" value={{person.id}}>
        <div class="btn-toolbar">
            <button type="submit" name="save" class="btn-primary btn">Save » </button>
            <button type="submit" name="delete" class="btn-danger btn">Delete » </button>
            <button type="submit" name="cancel" class="btn">Cancel » </button>
        </div>
    </form>
{% endblock %}

