<h1> {{ headline }} </h1>

{% if total %} {{ total }} total <br>{% endif %}
{% if num_cur %} {{ num_cur }} new members last 12 hours <br>{% endif %}
{% if num_life %}{{ num_life }} <a href="/person/listlifetime">lifetime</a> members <br>{% endif %}

<p>

<table>
    {% for person in people %}
    <tr>
        <form action="/person/edit" method="post">
            {% csrf_token %}
            <input type="hidden" name="check" />
            <input type="hidden" name="name" value="{{ person.name }}" />
            <input type="hidden" name="email" value="{{ person.email }}" />
            <td>{{ person.name }} </td>
            <td><input type="submit" value="edit"/></td>
        </form>
        </li>
    </tr>
    {% endfor %}
</table>

<p>

{% if origin %}
<a href="/person/{{ origin }}">Back to {{ origin }}</a><br>
{% endif %}
<a href="/person/add">Add person</a><br>
<a href="/">Main menu</a>
