{% extends "sitebase.html" %}

{% block notesactive %}class="active"{% endblock %}

{% block maincontent %}
    <h1>Sorry..</h1>
    <p> - every system needs an upcoming feature!</p>
{% endblock %}

{% block sub1 %}

    <p>This will eventually be a page where <strong>you!</strong> the user can write a note that will be visible here! Forever! (nah.. only the last 6 or so..)</p>

{% endblock %}

{% block sub2 %}

    <p>The point of this is - if something crashed horribly, write it here! I might even have the system send a dev an email about it.. But no promises ;-)</p>

{% endblock %}

{% block sub3 %}

<p>Of course, it can also be useful on a busy night as a guard - something you need to check later, but know you might forget? 
Or maybe leave a note for the late-shift? write it down :-)</p>

{% endblock %}

